/*Intro Start*/
header {
}
.intro {
  height: 950px;
  background-image: url("../images/intro-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.intro h2 {
  color: var(--white-color);
  font-family: var(--font-primary);
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 63.504px;
}
.intro p {
  color: var(--gray-color);

  /* Samar 18 */
  font-family: var(--font-secondary);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}
.intro .content {
  padding-bottom: 150px;
}

/*Intro End*/

/*About Stert*/
.about {
  background-color: var(--bg-black);
}

.about .title-holder .title {
  color: var(--primary-color);
  font-family: var(--font-secondary);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 21px;
}
.about .left .story {
  color: var(--white-color);
  font-family: var(--font-primary);
  font-size: 43px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  padding-bottom: 60px;
}
.about .left .action {
  color: var(--primary-color);
  font-family: var(--font-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 60px;
}
.about .left a {
}
.about .right .description {
  color: var(--gray-color);

  font-family: var(--font-secondary);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 60px;
}
.about .right .title {
  color: var(--white-color);
  font-family: var(--font-primary);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}
@media (max-width: 1000px) {
  .about .right .title {
    font-size: 30px;
  }
}
/*About End*/

/*Serevices Start*/
.services {
  background-image: url("../images/services-bg.jpeg");
  padding: 120px 0px;
  background-size: cover;
}
.services .service {
  background-color: var(--bg-gray);
  padding: 50px 40px;
  transition: var(--o-transition);
  width: 300px;
}

.services .service img {
  width: 85px;
  padding-bottom: 33px;
  transition: var(--o-transition);
}
.services .service .content {
  padding-bottom: 40px;
  border-bottom: 1px solid var(--warna-icon-color);
  margin-bottom: 20px;
  transition: var(--o-transition);
}
.services .service .content .count {
  color: var(--white-color);
  font-family: var(--font-primary);
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: var(--o-transition);
}
.services .service .content .title {
  color: var(--primary-color);
  font-family: var(--font-primary);
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: var(--o-transition);
}
.services .service .content .description {
  color: var(--gray-color);
  font-family: var(--font-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: var(--o-transition);
}
.services .service .p-numbers {
  color: var(--warna-icon-color);
  font-family: var(--font-primary);
  font-size: 14.4px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: var(--o-transition);
}
.services .service:hover {
  background-color: var(--primary-color);
}
.services .service:hover img {
  filter: grayscale(100%) brightness(0%);
}
.services .service:hover .content .count,
.services .service:hover .content .title,
.services .service:hover .content .description,
.services .service:hover .p-numbers,
.services .service:hover .highlight {
  color: var(--bg-black);
}

/*Serevices End*/

/*Clients Start*/
.clients {
  background-color: var(--bg-black);
}
.clients .client {
  width: 300px;
  margin: 30px 30px;
}
.clients .client img {
  width: 100%;
  height: auto;
}
@media (max-width: 1050px) {
  .clients .client {
    width: 200px;
    margin: 15px 15px;
  }
}
/*Clients End*/

/*Work Start*/
.our-work {
  background-image: url("../images/work-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.our-work .work-info .title {
  color: var(--primary-color);
  text-align: center;
  font-family: var(--font-secondary);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.our-work .work-info .description {
  color: var(--white-color);
  text-align: center;
  font-family: var(--font-primary);
  font-size: 41px;
  font-style: normal;
  font-weight: 700;
  line-height: 117%;
}
.our-work .works .work {
  text-decoration: none;
}
.our-work .works .work:nth-child(2n) {
  align-items: start;
}
.our-work .works .work:nth-child(2n + 1) {
  align-items: end;
}
.our-work .works .work img {
  width: 800px;
  max-width: 75%;
}
.our-work .works .work .title {
  color: var(--white-color);
  font-family: var(--font-title);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.our-work .works .work .description {
  color: var(--primary-color);
  font-family: var(--font-primary);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

/*Work End*/

/*Story Start*/
.story {
  background-color: var(--bg-black);
}
.story .info img {
  width: 130px;
}
.story .info p {
  color: var(--white-color);

  font-family: var(--font-primary);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 117%; /* 56.16px */
}
.story .ceo a {
  color: var(--primary-color);

  font-family: var(--font-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  text-align: center;
}

/*Story End*/
